.title {
  text-align: center;
}

ul {
  width: 100%;
}

.container {
  width: 102.1%;
  margin-left: -15px;
}
.navbar-wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 9999;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  background: #0b0c10;
  border-bottom: solid 2px #834152;
}

.title {
  color: white;
}
.navbar-wrapper {
  margin-top: -53px;
  margin-bottom: -20px;
}

.jumbotron {
  background: #0b0c10;
  padding-bottom: 60px;
}

.banner {
  background: url("https://www.shape.com/sites/shape.com/files/u398/crystals.jpg")
    50% 30% no-repeat fixed;
  background-size: cover;
  height: auto;
  width: 100%;
}
.banner-layer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 13%;
  padding-bottom: 13%;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.2);
}
